<div class="card">
  <div class="card-body">
    <div class="row row-cols-6 gx-2">
      <div class="col" *ngFor="let stat of stats">
        <div class="d-flex flex-column justify-content-end column" style="height: 250px;">
          <div [style.height]="stat.base_stat+'px'" [ngStyle]="{ backgroundColor: color ?? 'var(--bs-danger)'}" class="border-top border-dark"></div>
        </div>
        <div class="text-center lh-1 fw-bold small mt-2">
          {{stat.stat.name | translateStat | titlecase}}
        </div>
      </div>
    </div>
  </div>
</div>
