<div *ngIf="loading">
  <header class="mb-4 text-center">
    <h1 class="display-1">
      Caricamento...
    </h1>
    <div class="m-auto" style="max-width: 40px">
      <app-loader [size]="56"></app-loader>
    </div>
  </header>
</div>

<div *ngIf="!loading && pokemon">
  <header class="mb-4">
    <div class="container d-flex align-items-center">
      <button class="btn btn-outline-secondary border-0" (click)="prevPokemon()" title="Pokémon precedente">
        <i class="bi-caret-left-fill"></i> <span class="d-none d-md-inline-block ms-2">n. {{prevId}}</span>
      </button>
      <div class="flex-grow-1 text-center ">
        <h1 class="display-1 mb-0">
          {{pokemon.name | titlecase}}
        </h1>
        <h5 class="fw-light text-muted">n. {{pokemon.id}}</h5>
      </div>
      <button class="btn btn-outline-secondary border-0" (click)="nextPokemon()" title="Pokémon successivo">
        <span class="d-none d-md-inline-block me-2">n. {{nextId}}</span> <i class="bi-caret-right-fill"></i>
      </button>
    </div>
  </header>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2">
      <div class="col" *ngIf="pokemonColor">
        <figure [appRadialGradient]="pokemonColor">
          <img [src]="mainPic" [alt]="pokemon.name" class="img-fluid w-100 mb-3">
        </figure>
        <section id="statistiche" class="mb-3">
          <app-stats-card [stats]="pokemon.stats" [color]="pokemonColor"></app-stats-card>
        </section>
      </div>
      <div class="col">
        <section id="descrizione" class="mb-3">
          <app-description-section [flavorEntries]="species.flavor_text_entries"></app-description-section>
        </section>
        <hr class="mt-5 ">
        <section id="dettagli" class="mb-3">
          <app-details-card [details]="details"></app-details-card>
        </section>
        <section id="tipo" class="mb-3">
          <app-type-badge typeTitle="Tipo" [typeNames]="types"></app-type-badge>
        </section>
        <section id="debolezza" class="mb-3" *ngIf="damagingTypes">
          <app-type-badge typeTitle="Debolezza" [typeNames]="damagingTypes"></app-type-badge>
        </section>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="galleryFront && galleryBack">
    <div class="row row-cols-1 row-cols-md-2 g-3">
      <div class="col">
        <app-sprite-gallery title="Sprites Frontali" [gallery]="galleryFront"></app-sprite-gallery>
      </div>
      <div class="col">
        <app-sprite-gallery title="Sprites Posteriori" [gallery]="galleryBack"></app-sprite-gallery>
      </div>
    </div>

  </div>

</div>

<div *ngIf="error">
  <div class="container mt-5">
    <div class="row g-2 g-md-5 align-items-center">
      <div class="col-12 col-md-4 order-2 order-md-1">
        <img src="https://assets.pokemon.com/static2/_ui/img/global/psyduck.png" alt="Pagina non trovata" class="img-fluid w-100">
      </div>
      <div class="col-12 col-md-8 order-1 order-md-2 text-center text-md-start">
        <div class="display-4 my-5">Nessun Pokémon trovato!</div>
        <p class="mb-3">
          Sei sicuro che esista il Pokémon con l'id <b>{{id}}</b>?
        </p>
        <a target="_blank" [href]="'https://www.pokemon.com/it/pokedex/'+id">Verifica</a>
      </div>
    </div>
  </div>
</div>
