<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid p-0">
      <a class="navbar-brand text-danger" [routerLink]="'/'">
        <app-logo></app-logo>
        Pokedex
      </a>
      <ul class="nav mr-auto">
        <li *ngFor="let item of menuItems" class="nav-item active">
          <a class="nav-link" routerLinkActive="active" [title]="item.label"
             [routerLink]="item.path">
            <i [ngClass]="'bi-'+item.icon"></i>
            <span class="d-none d-md-inline-block ms-md-2">{{item.label}}</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
