<div class="card">
  <img class="card-img-top" [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/'+id+'.png'" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">
      Per visualizzare questo componente, usare in app-component.html il seguente codice:
    </p>
    <pre>
    <span class="text-electric-purple">&lt;app-card-list&gt;&lt;/app-card-list&gt;</span></pre>
    <a href="https://angular.io/api/core/Component#component" target="_blank" class="btn btn-primary">Documentazione</a>
  </div>
</div>
