<div class="container">
  <h1>
    {{title}}
  </h1>
  <p>
    propertyBinding --> <kbd>{{propertyBinding}}</kbd>
  </p>

  <div class="form-group mb-3">
    <label class="form-label">Esempio di campo input che non cambia il valore (one-way databinding)</label>
    <input class="form-control" type="text" [value]="propertyBinding" />
    <span class="form-text">Se l'utente scrive in questo input, la proprietà <kbd>propertyBinding</kbd> non cambia</span>
  </div>

  <div class="form-group mb-3">
    <label class="form-label">Esempio di campo input che cambia il valore (one-way databinding)</label>
    <input class="form-control" type="text" [value]="propertyBinding" (input)="changePropertyBinding($event)" />
    <span class="form-text">Se l'utente scrive in questo input, la proprietà <kbd>propertyBinding</kbd> cambia grazie al metodo che è stato creato nel file ts</span>
  </div>

  <div class="form-group mb-3">
    <label class="form-label">Esempio di campo input che cambia il valore (two-way databinding)</label>
    <input class="form-control" type="text" [(ngModel)]="propertyBinding" />
    <span class="form-text">Se l'utente scrive in questo input, la proprietà <kbd>propertyBinding</kbd> cambia grazie all'implementazione del modulo <kbd>FormsModule</kbd> di Angular</span>
  </div>

</div>
